.content {
  background-color: #fcb185;
}

.content p {
  font-family: helvetica, sans-serif;
  color: #722d05;
}

.image {
  width: 100%;
  color: #722d05;
}

h2 {
  color: #33190a;
}

li {
  color: #722d05;
  font-family: helvetica, sans-serif;
}

.padding {
  padding: 10px;
}

table {
  color: #7a5522;
  text-align: left;
  font-family: monospace;
  background: #efab4c;
  border: 2px solid brown;
  height: 100%;
  width: 100%; 
}

.tableheadings {
  color: #513002;
  text-align: center;
  font-family: monospace;
  background: #f79409;
}

caption {
  font-size: 200%;
}

.background {
  background-color: #fcb185;
}
