.content {
  background-color: #0E0766;
}

.content p {
  font-family: helvetica, sans-serif;
  color:white;
}

img {
  width:100%;
  color: white;
}

h2 {
  color: #FFA106;
}

li {
  color:white;
  font-family:"courier new", sans-serif;
}
