.content {
  background-color: #fcb185;
}

.content p {
  font-family: helvetica, sans-serif;
  color: #722d05;
}

img {
  width:100%;
  color: #722d05;
}

h2 {
  color: #33190a;
}

li {
  color: #722d05;
  font-family: helvetica, sans-serif;
}
