* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #f9deb1;
    padding: 20px;
    text-align: center;
    color: #33190a;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: white;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: #FDDC8B;
    color: #7c4807;
    font-size: 100%;
    text-decoration: none;
}

/* indicate active page on nav */
.active {
    background-color: #ea8e1d;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #ef7c39;
    padding: 10px;
    text-align: center;
    color: #33190a;
}

.ncolumn {
  float: right;
  width: 50%;
}
